@charset "UTF-8";
body {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 10%;
  color: black;
  background-color: #faf2ae4;
	
	
	
	
  background-image: url(images/plaid3.png);
}

a {
  text-decoration: none;
}
a:link {
	  color: black;
}
a:visited {
	color: #d1633c;
}
a:focus, a:hover {
	color: #d1633c;
	background-color: #9fc2da;
}
a:active {
	color: #f0f;
	background-color: #fff;
}

h1 {
		text-align: center;
		font-family: serif;
		font-weight: normal;
		text-transform: uppercase;
		border-bottom: 2px solid #466675;
		margin-top: 30px;
	}
	h2 {
		color: #d1633c;
		font-size: 1em;
	}
	h3 {
		text-align: center;
		font-family: serif;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1em;
		margin-top: 50px;
	}
	h4 {
		text-align: center;
		font-family: sans-serif;
		font-weight: normal;
		font-size: 1em;
		margin-top: 5px;

dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
#mainMenu {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}
